.chartWrap{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.heightControl{
    height: 200px;
}

.high-humidity {
    color: red; /* Change text color to red for high humidity */
}

.low-humidity {
    color: red; /* Change text color to red for low humidity */
}