.image-wrapper{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.addPot{
    width: 4.6875rem;
    height: 4.6875rem;
    background-color: #67B46E;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 50%;
}

.addIcon{
    width: 2.5rem;
}

.addPot:hover{
    transition: all 300ms;
    opacity: 1;
    transform: scale(1.1);
}

.potImg{
    width: 4.6875rem;
    height: 4.6875rem;
    border-radius: 10px;
    background-image:url("./assets/img/Pot-3.jpg");
    background-size: cover;
    background-position: center;
    margin-right: 1rem;
}

.potImg:hover{
    transition: all 300ms;
    transform: scale(1.1);
}

.result{
    background-color: white;
    border-radius: 10px;
}

.potNavWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.potNavLeft{
    width: 60%;
    height: 40px;
    background-color: #F1F7EE;
    border-radius: 20px;
    margin-left: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.potNavRight{
    width: 30%;
}

.potItem{
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
}

.active{
    background-color: #67B46E;
    color: white;
}

.dropDown{
    border: 1px solid #333;
    border-radius: 10px;
    padding: 4px;
}

.dropDown{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

.dropIcon{
    width: 12px;
    height: 8px;
}

.dataWrapper{
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.dataItem{
    background-color: #E1F0DA;
    width: 27%;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.upperWrap{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.dataIcon{
    height: 20px;
    background-color: white;
    padding: 2px;
    border-radius: 5px;
}

.link-margin{
    margin-left: 10px;
}

.btn-default{
    width: 9.375rem;
    height: 3.125rem;
    background-color: #333; /* 可以修改颜色 */
    border: none;
    border-radius: .625rem;
    cursor: pointer;
    transition: all .15s;
    color: #fff;
    font-size: 1rem;

}

.btn-default:hover{
    background-color: #999; /* 可以修改颜色 */
    transform: scale(1.01);
    transition: all .15s;
    color: #333;
}